<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog App</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'home' %}">Django Blog</a></h1>
        </header>
        {% block content %}

        {% endblock content %}
    </body>
</html>