<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog App</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post-new' %}">+ New Blog Post</a>
            </div>
        </header>
        {% if user.is_authenticated %}
            <h2>Hi {{ user.username }}</h2>
            <h2><a href="{% url 'logout' %}">Logout</a></h2>
        {% else %}
            <h2><a href="{% url 'login' %}">Login</a></h2>
        {% endif %}
        {% block content %}

        {% endblock content %}
    </body>
</html>